.bgImg {
  background-image: url("https://www.itl.cat/pngfile/big/244-2440000_wallpaper-of-dog-flower-pet-samoyed-stare-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 80vw;
  background-position: center;
  background-position-y: bottom;
  background-color: none;

}

.contenido {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.contenido h1 {
  color: white;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.contenido .titulo {
  font-size: 45px;
  text-transform: none;
  color: #FF4C29;
}

.entrar {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  background-color: #082032;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #dc3d4b;
  transition: ease-out 0.3s;
  font-size: 1rem;
}

.entrar:hover {
  box-shadow: inset 0 300px 0 0 #dc3d4b;
  cursor: pointer;
  color: #082032;


}